{% extends "Client/baseTemplate.html" %}


{% block newcontent %}

<div class="jumbotron">
  <h1 class="display-5">Hello Cloud Drive User!</h1>
  <p class="lead">Thank You for using Cloud Drive Hot Storage Services. Cloud Drive Application will be Launched Soon! </p>
  <hr class="my-4">
  <p>You can Download it from here. The Download Link will be provided as Soon it launched on the Server</p>
  <p class="lead">
    <a class="btn btn-primary sm" href="#" role="button">Learn more About Cloud Drive</a>
  </p>
</div>


{% endblock %}


