{% extends "Admin/adminBaseTemplate.html" %}


{% block newcontent %}

    <div class="container-fluid">
        <div class="row mt-4">
            <div class="col-lg-3 col-md-6 col-sm-6 mt-2">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon"><i class="material-icons">phone</i></div>
                        <h5 class="card-title"> Total Quota</h5>
                        <p class="card-category">1000GB</p></div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 mt-2">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon"><i class="material-icons">assignment_returned</i></div>
                        <h5 class="card-title"> Used Storage</h5>
                        <p class="card-category">450GB</p></div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 mt-2">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon"><i class="material-icons">announcement</i></div>
                        <h5 class="card-title"> Free Storage</h5>
                        <p class="card-category">1000GB</p></div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 mt-2">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon"><i class="material-icons">assignment</i></div>
                        <h5 class="card-title"> Assigned Storage</h5>
                        <p class="card-category">1000GB</p></div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 mt-2">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon"><i class="material-icons">schedule</i></div>
                        <h5 class="card-title"> Total Customers</h5>
                        <p class="card-category">1000GB</p></div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 mt-2">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon"><i class="material-icons">article</i></div>
                        <h5 class="card-title"> Trail Accounts</h5>
                        <p class="card-category">1000GB</p></div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 mt-2">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon"><i class="material-icons">description</i></div>
                        <h5 class="card-title"> Standard</h5>
                        <p class="card-category">1000GB</p></div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 mt-2">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon"><i class="material-icons">card_travel</i></div>
                        <h5 class="card-title"> Premium</h5>
                        <p class="card-category">1000GB</p></div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 mt-2">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon"><i class="material-icons">description</i></div>
                        <h5 class="card-title"> Earnings</h5>
                        <p class="card-category">1000GB</p></div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 mt-2">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon"><i class="material-icons">description</i></div>
                        <h5 class="card-title"> Set Packages</h5>
                        <p class="card-category">1000GB</p></div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}


